* {
  font-family: "Open Sans", sans-serif;
}
html {
  width: 100vw;
}
body {
  width: 100vw;
  margin: 0px;
  background-color: rgb(18, 18, 18);
  padding: 0;
}
.navbar {
  line-height: 18px;
  width: 100vw;
  height: 51.8px;
  background-color: #2a2a2a;
}
.navbar > nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  padding: 0px 7px;
}
.store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left: 16px;
  color: #cccccc;
  padding: 0px 14px;
  font-size: 10.5px;
  letter-spacing: 0.075em;
}
.distribution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #cccccc;
  padding: 0px 14px;
  font-size: 10.5px;
  letter-spacing: 0.075em;
}
.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #cccccc;
  padding: 0px 14px;
  font-size: 10.5px;
  letter-spacing: 0.075em;
}
.bar > p {
  border-left: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 10px;
  margin-left: 20px;
}
.bar {
  width: 40px;
  height: 51.8px;
}
.unrealengine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #cccccc;
  padding: 0px 14px;
  font-size: 10.5px;
  letter-spacing: 0.075em;
}
.language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0px 14px;
  color: #cccccc;
}
.signin {
  display: flex;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  color: #cccccc;
}
.signin > label {
  color: #cccccc;
  font-size: 8.75px;
  letter-spacing: 0.075em;
  padding: 0px 10px;
}
.download {
  display: flex;
  width: 6%;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  background-color: #0078f2;
}
.download > p {
  color: #ffffff;
  font-size: 8.75px;
  letter-spacing: 0.075em;
}
.bar-3 {
  display: none;
  flex-direction: column;
  background-color: #0078f2;
  width: 51.8;
  height: 51.8;
  color: #ffffff;
  font-size: 30px;
}
.dash {
  margin: 8;
  margin-top: -11;
}
.dash1 {
  font-size: 35px;
  align-self: center;
  margin-bottom: -37px;
}
.dash2 {
  font-size: 35px;
  align-self: center;
  margin-bottom: -37px;
}
.dash3 {
  font-size: 35px;
  align-self: center;
}

.store:hover {
  color: #ffffff;
  border: 5px solid #0078f2;
  border-top-color: #2a2a2a;
  border-right: none;
  border-left: none;
}

.distribution:hover {
  color: #ffffff;
  border: 5px solid #0078f2;
  border-top-color: #2a2a2a;
  border-right: none;
  border-left: none;
}
.support:hover {
  color: #ffffff;
  border: 5px solid #0078f2;
  border-top-color: #2a2a2a;
  border-right: none;
  border-left: none;
}
.unrealengine:hover {
  color: #ffffff;
  border: 5px solid #0078f2;
  border-top-color: #2a2a2a;
  border-right: none;
  border-left: none;
}
.language:hover {
  color: #ffffff;
}
.signin:hover {
  color: #ffffff;
}
.signin > label:hover {
  color: #ffffff;
}
.download:hover {
  background-color: #1680eb;
}

@media (max-width: 767px) {
  .store {
    display: none;
  }
  .distribution {
    display: none;
  }
  .support {
    display: none;
  }
  .bar {
    display: none;
  }
  .unrealengine {
    display: none;
  }
  .language {
    display: none;
  }
  .signin {
    display: none;
  }
  .download {
    display: none;
  }
  .bar-3 {
    display: flex;
  }
}
