* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1, 5;
  scroll-behavior: smooth;
}
.footer {
  position: relative;
}
.Social-media {
  padding-top: 25px;
}
.container {
  max-width: 1500px;
  margin: auto;
}
.row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
}
.footer {
  background-color: rgb(32, 32, 32);
  padding: 0 15px;
  font-family: OpenSans, sans-serif;
  padding-left: 80px;
  padding-top: 20px;
  margin-top: 150px;
}
.col {
  width: 15%;
  padding: 0 5px;
}
.footer a {
  text-decoration: none;
  color: aquamarine;
}
.col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  position: relative;
}

.col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.col ul li a:hover {
  color: blue;
}
/* Responsive */

@media (max-width: 767px) {
  .col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .col {
    width: 100%;
  }
}

.mobil-border {
  margin-top: 50px;
  font-size: 1px;
  background-color: (32, 32, 32, 0.5);
}
.epic {
  margin-top: 50px;
  padding: 0;
  background-color: rgb(32, 32, 32);
  width: 50%;
  color: whitesmoke;
}

.footer-icon ul {
  display: flex;
  margin-top: 20px;
}
.footer-icon ul li a {
  width: 70%;
  padding-right: 15px;
}
.footer-icon ul li a:hover {
  color: blue;
}
.icon {
  padding-right: 0;
}
.epic-icon {
  color: white;
  width: 50px;
  height: 50px;
  display: inline;
  position: absolute;
  right: 70px;
  bottom: 10px;
  margin-right: 50px;
}
.unreal-icon {
  color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  bottom: 10px;
  margin-right: 50px;
}
.right-icon {
  display: inline;
}
#backtotop {
  position: absolute;
  right: 10px;
  font-size: 45px;
}
.fa-brands:hover {
  color: blue;
}
.fa-sharp {
  border: 2px solid white;
  font-size: 20px;
  margin-right: 50px;
}
.epic {
  padding-bottom: 20px;
}
