.free-ga {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  background-color: rgb(18, 18, 18);
}
.free-x {
  padding-top: 50px;
  padding-bottom: 50px;
}
.games-title {
  padding-top: 20px;
}
.games-title ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.title-button {
  align-items: right;
}
.free-y-games {
  gap: 30px;
  padding: 5px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(245, 245, 245);
}

.free-Games {
  background: rgba(255, 255, 255, 0.1);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
  width: 80%;
}
.black {
  background-color: black;
}
.games-free-x {
  width: 250px;
  padding-left: 15px;
}
.free-y-games img {
  width: 250px;
  height: 400px;
  opacity: 0.7;
}

.free-y-games img:hover {
  opacity: 1;
}
.o-free-games {
  background-color: blue;
}
.free-2 {
  width: 250px;
  background-color: blue;
  text-align: center;
  color: whitesmoke;
}
.o-1 {
  background-color: black;
}

.free-2-3 {
  width: 250px;
  background-color: black;
  text-align: center;
  color: whitesmoke;
}
.fre-fa {
  font-size: 30px;
  color: rgb(245, 245, 245);
  padding-left: 10px;
}
.free-title-f {
  padding-left: 15px;
  color: rgb(245, 245, 245);
  font-size: 18px;
  line-height: 1.4;
}
.view {
  margin-left: auto;
}
.view-a {
  margin-right: 50px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;

  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}
.view-a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.free-2-3 {
  font: 12px;
  color: #ffffff;
}
.free-2 {
  font: 12px;
  color: #ffffff;
}
.o-1-2 h4 {
  font: 15px;
  color: #f5f5f599;
  padding-top: 7px;
}
.o-1-2-3 {
  font: 14px;
  color: #f5f5f5;
  padding-top: 7px;
}
.free-h4 {
  font: 15px;
  color: #f5f5f599;
  padding-top: 7px;
}
.free-h3 {
  font: 14px;
  color: #f5f5f5;
  padding-top: 7px;
}

@media (max-width: 560px) {
  .free-Games {
    width: 100%;
  }
  .games {
    width: 300px;
    padding-left: 20px;
    padding-bottom: 30px;
  }
  .free-y-games img {
    width: 300px;
    height: 300px;
    opacity: 0.7;
  }

  .free-2 {
    width: 300px;
  }

  .free-2-3 {
    width: 300px;
  }
}
