* {
    font-family: 'Inter', sans-serif;
}
html {
    width: 100vw;
}
body {
    width: 100vw;
    margin: 0px;
    background-color: rgb(18, 18, 18);
    padding: 0px;
}
.mp-container {
    margin-left: auto;
    margin-right: auto;
    width: 79%;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}
.mp-columns {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    line-height: 1.8;
    letter-spacing: 0.2px;
}

.mp-columns img {
    width: 11vw!important;
    border-radius: 4px;
}
.mp-columns img:hover {
    opacity: 0.85;
}
.base-game {
    margin-top: 13px;
    color: #F5F5F599;
    font-size: 11px;
    font-weight: 500;
}
.mp-head {
    color: #F5F5F5;
    font-size: 16px;
    text-wrap: wrap;
}
.now-on-epic {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.1px #FFFFFF1A;
    border-radius: 3px;
    
    background-color: #FFFFFF1A;
    color: #F5F5F5;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    width: 50%;
    
}
.mp-price {
    color: #F5F5F5;
    font-size: 16px;
}
.mp-header > a > span{
    color: #F5F5F5;
    font-size: 18px;
}
.mp-header > a {
    text-decoration: none;
}
.mp-header {
    margin-bottom: 20px;
    margin-left: 20px;
}
@media (max-width: 767px) {
    .mp-container {
        width: 100%;
        overflow: scroll;
    }
    .mp-columns {
        display: -webkit-inline-box;
        width: 90%;
        max-width: 100%;
        gap: 15px;
        
    }
    .mp-header > a > span{
        margin-left: 10px;
    }
    .gta-image > a > img {
        width: 58vw;
    }
    .valorant-image > a > img {
        width: 58vw;
    }
    .naraka-image > a > img {
        width: 58vw;
    }
    .honkai-image > a > img {
        width: 58vw;
    }
    .severed-image > a > img {
        width: 58vw;
    }
    .fifa-image > a > img {
        width: 58vw;
    }
    
}
@media (min-width:1025px) and (max-width:1600px) {
    
    .mp-columns img {
        width: 14vw;
    }
    .mp-column6 {
        display: none;
    }
    .base-game {
        font-size: 9px;
    }
    .mp-head {
        font-size: 14px;
    }
    .now-on-epic {
        font-size: 9px;
    }
    .mp-price {
        font-size: 14px;
    }
}
@media (min-width: 769px) and (max-width:1024px) {
    .mp-columns {
        gap: 15px;
    }
    .mp-columns img {
        width: 23vw;
    }
    .mp-column5 {
        display: none;
    }
    .mp-column6 {
        display: none;
    }
    .base-game {
        font-size: 9px;
    }
    .mp-head {
        font-size: 14px;
    }
    .now-on-epic {
        font-size: 9px;
    }
    .mp-price {
        font-size: 14px;
    }
}
.gwa-container {
    margin-left: auto;
    margin-right: auto;
    width: 79%;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.gwa-columns {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    line-height: 1.8;
    letter-spacing: 0.2px;
    
}
.gwa-columns img {
    width: 11vw;
    border-radius: 4px;
}
.gwa-columns img:hover {
    opacity: 0.85;
}
.base-game {
    margin-top: 13px;
    color: #F5F5F599;
    font-size: 11px;
    font-weight: 500;
}
.gwa-head {
    color: #F5F5F5;
    font-size: 16px;
}
.now-on-epic {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.1px #FFFFFF1A;
    border-radius: 3px;
    
    background-color: #FFFFFF1A;
    color: #F5F5F5;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    width: 50%;
    
}
.gwa-price {
    color: #F5F5F5;
    font-size: 16px;
}
.gwa-header > a > span{
    color: #F5F5F5;
    font-size: 18px;
}
.gwa-header > a {
    text-decoration: none;
}
.gwa-header {
    margin-bottom: 20px;
    margin-left: 20px;
}
@media (max-width: 767px) {
    .gwa-container {
        margin-top: 20%;
        width: 100%;
        overflow: scroll;
    }
    .gwa-columns {
        display: -webkit-inline-box;
        width: 90%;
        max-width: 100%;
        gap: 15px;
        margin-bottom: 40px;
    }
    .gwa-header > a > span{
        margin-left: 10px;
    }
    .acl-image > a > img {
        width: 58vw;
    }
    .eternal-image > a > img {
        width: 58vw;
    }
    .punch-image > a > img {
        width: 58vw;
    }
    .tri6-image > a > img {
        width: 58vw;
    }
    .elemental-image > a > img {
        width: 58vw;
    }
    .remnant-image > a > img {
        width: 58vw;
    }
    
}
@media (min-width:1025px) and (max-width:1600px) {
    
    .gwa-columns img {
        width: 14vw;
    }
    .gwa-column6 {
        display: none;
    }
    .base-game {
        font-size: 9px;
    }
    .gwa-head {
        font-size: 14px;
    }
    .now-on-epic {
        font-size: 9px;
    }
    .gwa-price {
        font-size: 14px;
    }
}
@media (min-width: 769px) and (max-width:1024px) {
    .gwa-columns {
        gap: 15px;
    }
    .gwa-columns img {
        width: 23vw;
    }
    .gwa-column5 {
        display: none;
    }
    .gwa-column6 {
        display: none;
    }
    .base-game {
        font-size: 9px;
    }
    .gwa-head {
        font-size: 14px;
    }
    .now-on-epic {
        font-size: 9px;
    }
    .gwa-price {
        font-size: 14px;
    }
}
.ru-container {
    margin-left: auto;
    margin-right: auto;
    width: 79%;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}
.ru-columns {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    line-height: 1.8;
    letter-spacing: 0.2px;
}

.ru-columns img {
    width: 11vw;
    border-radius: 4px;
}
.ru-columns img:hover {
    opacity: 0.85;
}
.base-game {
    margin-top: 13px;
    color: #F5F5F599;
    font-size: 11px;
    font-weight: 500;
}
.ru-head {
    color: #F5F5F5;
    font-size: 16px;
    text-wrap: wrap;
}
.now-on-epic {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.1px #FFFFFF1A;
    border-radius: 3px;
    
    background-color: #FFFFFF1A;
    color: #F5F5F5;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    width: 50%;
    
}
.ru-price {
    color: #F5F5F5;
    font-size: 16px;
}
.ru-header > a > span{
    color: #F5F5F5;
    font-size: 18px;
}
.ru-header > a {
    text-decoration: none;
}
.ru-header {
    margin-bottom: 20px;
    margin-left: 20px;
}
@media (max-width: 767px) {
    .ru-container {
        width: 100%;
        overflow: scroll;
    }
    .ru-columns {
        display: -webkit-inline-box;
        width: 90%;
        max-width: 100%;
        gap: 15px;
        margin-bottom: 20px;
    }
    .ru-header > a > span{
        margin-left: 10px;
    }
    .lol-image > a > img {
        width: 58vw;
    }
    .genshin-image > a > img {
        width: 58vw;
    }
    .tower-image > a > img {
        width: 58vw;
    }
    .dead-image > a > img {
        width: 58vw;
    }
    .disney-image > a > img {
        width: 58vw;
    }
    .cyberpunk-image > a > img {
        width: 58vw;
    }
    
}
@media (min-width:1025px) and (max-width:1600px) {
    
    .ru-columns img {
        width: 14vw;
    }
    .ru-column6 {
        display: none;
    }
    .base-game {
        font-size: 9px;
    }
    .ru-head {
        font-size: 14px;
    }
    .now-on-epic {
        font-size: 9px;
    }
    .ru-price {
        font-size: 14px;
    }
}
@media (min-width: 769px) and (max-width:1024px) {
    .ru-columns {
        gap: 15px;
    }
    .ru-columns img {
        width: 23vw;
    }
    .ru-column5 {
        display: none;
    }
    .ru-column6 {
        display: none;
    }
    .base-game {
        font-size: 9px;
    }
    .ru-head {
        font-size: 14px;
    }
    .now-on-epic {
        font-size: 9px;
    }
    .ru-price {
        font-size: 14px;
    }
}
.now-container {
    margin-left: auto;
    margin-right: auto;
    width: 79%;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}
.now-columns {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    line-height: 1.8;
    letter-spacing: 0.2px;
}

.now-columns img {
    width: 11vw;
    border-radius: 4px;
}
.now-columns img:hover {
    opacity: 0.85;
}
.base-game {
    margin-top: 13px;
    color: #F5F5F599;
    font-size: 11px;
    font-weight: 500;
}
.now-head {
    color: #F5F5F5;
    font-size: 16px;
    text-wrap: wrap;
}
.now-on-epic {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.1px #FFFFFF1A;
    border-radius: 3px;
    
    background-color: #FFFFFF1A;
    color: #F5F5F5;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    width: 50%;
    
}
.now-price {
    color: #F5F5F5;
    font-size: 16px;
}
.now-header > a > span{
    color: #F5F5F5;
    font-size: 18px;
}
.now-header > a {
    text-decoration: none;
}
.now-header {
    margin-bottom: 20px;
    margin-left: 20px;
}
@media (max-width: 767px) {
    .now-container {
        width: 100%;
        overflow: scroll;
    }
    .now-columns {
        display: -webkit-inline-box;
        width: 90%;
        max-width: 100%;
        gap: 15px;
        margin-bottom: 20px;
    }
    .now-header > a > span{
        margin-left: 10px;
    }
    .f1-image > a > img {
        width: 58vw;
    }
    .slavic-image > a > img {
        width: 58vw;
    }
    .estar-image > a > img {
        width: 58vw;
    }
    .nexus-image > a > img {
        width: 58vw;
    }
    .underworld-image > a > img {
        width: 58vw;
    }
    .mega-image > a > img {
        width: 58vw;
    }
    
}
@media (min-width:1025px) and (max-width:1600px) {
    
    .now-columns img {
        width: 14vw;
    }
    .now-column6 {
        display: none;
    }
    .base-game {
        font-size: 9px;
    }
    .now-head {
        font-size: 14px;
    }
    .now-on-epic {
        font-size: 9px;
    }
    .now-price {
        font-size: 14px;
    }
}
@media (min-width: 769px) and (max-width:1024px) {
    .now-columns {
        gap: 15px;
    }
    .now-columns img {
        width: 23vw;
    }
    .now-column5 {
        display: none;
    }
    .now-column6 {
        display: none;
    }
    .base-game {
        font-size: 9px;
    }
    .now-head {
        font-size: 14px;
    }
    .now-on-epic {
        font-size: 9px;
    }
    .now-price {
        font-size: 14px;
    }
}